<h1><%=@genre.name%></h1>

<h2>Top Rated</h2>
<ol>
  <% books = @genre.books.sort_by {|book| [-(Rating.where(book_id: book.id).average(:amount) || 0), book.name, book.author.name] } %>
  <% books.each do |book| %>
    <li><em><%= link_to book.name, book%></em> by <%= link_to book.author.name, book.author %>, <strong>Rated: <%= book.average_rating %>/10</strong></li>
  <% end %>
</ol>
