<h1>Did you mean...?</h1>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.name, book %> by <%=link_to book.author.name, book.author%>, <%=link_to book.genre.name, book.genre%></li>
  <% end %>
</ul>
